.gallery {
    width:1200px;
    margin: 0 auto;
}

.container-with-images {
    overflow: hidden;
}

.container-with-images div {
    float:left;
    width:250px;
    margin: 5px 25px 5px 0;
}
.container-with-images img {
    width:100%;
}

.image-pagination li {
    list-style-type: none;
    display: inline-block;
    margin-right: 25px
}