<article class="gallery">

    <header>
        <h1>Gallery</h1>
    </header>

    <section class="sort">
        <form>
            <select ng-change='vm.changeItemsPerPage()' ng-options='o as o for o in vm.optionsForSelectList' 
            ng-model='vm.selectedOption'></select>
        </form>
    </section>

    <section id='images' class="container-with-images">
        <div ng-repeat="image in vm.images | limitTo:vm.imagesPerPage" ng-click='vm.createColorbox($index)'>
            <img ng-src="{{image.url}}" alt='{{image.title}}' onerror='this.src = "src/assets/images/placeholder.svg" '>
            <h4 ng-bind='image.title'></h4>
        </div>
    </section>

    <section class="image-pagination">
        <ul>
            <li ng-if='vm.currentPage > 1'>
                <a href='javascript:void(0)' ng-click='vm.prevPage()'> Prev </a>
            </li>
            <li ng-repeat='page in vm.pages'>
                <a ui-sref='gallery({page: "{{page}}"})' ng-bind='page'></a>
            </li>
            <li ng-if='vm.currentPage < vm.pages.length'>
                <a href='javascript:void(0)' ng-click='vm.nextPage()'> Next </a>
            </li>
        </ul>
    </section>

</article>