<div class="overlay"></div>

<section class="colorbox">

    <div class="colorbox-holder">
        <div ng-repeat='image in vm.images' ng-show='$index == vm.index'>
            <img ng-src='{{image.url}}' onerror='this.src = "src/assets/images/placeholder.svg" '>
        </div>
        <section class="colorbox-controlls">
            <button ng-click='vm.prevImage()' type='button'> Prev </button>
            <button ng-click='vm.nextImage()' type='button'> Next </button>
        </section>
        <button ng-click='vm.closeColorbox()' type='button' class="close-colorbox">X</button>
    </div>

</section>