.overlay {
    position: fixed;
    width:100%;
    height:100%;
    left:0;
    top:0;
    background-color: rgba(0,0,0,.3);
}
.colorbox {
    position: fixed;
    z-index: 999;
    width:500px;
    left: 0;
    top:0;
    bottom:0;
    right:0;
    margin:auto;
}
.colorbox div {
    width:100%;
}
.colorbox img {
    width:100%;
}
.colorbox-holder {
    padding:15px;
}
.close-colorbox {
    position: absolute;
    top:10px;
    right:-40px;
}